name: Continuous Integration and Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  sample-dotnet:
    runs-on: sample
    steps:
      - name: checkout
        uses: actions/checkout@v3